<div class="container">
  <app-go-back-link></app-go-back-link>
  <main class="wrapper">
    <section class="projects">
      <h3 class="title">Проекти</h3>

      @for(project of projects(); track project) {
      <mat-card class="item">
        <mat-card-title *ngIf="selectedCardIndex !== $index" class="name">{{
          project.name
        }}</mat-card-title>
        <input
          *ngIf="selectedCardIndex === $index"
          #inputRef
          [(ngModel)]="projectName"
          type="text"
          matInput
          (blur)="onInputBlur()"
          placeholder="Назва"
        />
        <div class="actions">
          <button
            mat-button
            [disabled]="selectedCardIndex === $index && projectName.length < 3"
            color="accent"
            (click)="onChangeName($index, project)"
          >
            {{ selectedCardIndex !== $index ? "Редагувати" : "Зберегти" }}
          </button>
          <button
            mat-button
            color="warn"
            (click)="onDeleteProject(project._id)"
          >
            Видалити
          </button>
        </div>
      </mat-card>

      }
    </section>
    <section class="members">
      <h3 class="title">Користувачі</h3>
      @for(member of members(); track member) {
      <mat-card *ngIf="member.role !== 'ADMIN'" class="item">
        <mat-card-title class="name">{{
          member.firstName + " " + member.secondName
        }}</mat-card-title>
        <div class="actions">
          <mat-form-field>
            <mat-select
              [value]="member.role"
              (valueChange)="onUpdateUserRole($event, member._id)"
            >
              @for (role of roles; track role) {
              <mat-option *ngIf="role !== 'ADMIN'" [value]="role">{{
                rolesUI[role]
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button mat-button color="warn" (click)="onDeleteUser(member._id)">
            Видалити
          </button>
        </div>
      </mat-card>
      }
    </section>
  </main>
</div>

<ng-template #memberChangeRole>
  <input type="text" placeholder="Role" />
</ng-template>
