<section class="filters-group-wrapper">
   <mat-form-field class="selector">
        <mat-label>Виберіть проект</mat-label>
        <mat-select
          [value]="currentProject()"
          (valueChange)="onSelectChange($event)"
        >
          @for (project of projects(); track project) {
          <mat-option [value]="project._id">{{ project.name }}</mat-option>
          }
          <mat-option value="all">Усі</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="selector">
        <mat-label>Виконавець</mat-label>
        <mat-select
          [value]="currentProject()"
          (valueChange)="onSelectChange($event)"
        >
          @for (project of projects(); track project) {
          <mat-option [value]="project._id">{{ project.name }}</mat-option>
          }
          <mat-option value="all">Усі</mat-option>
        </mat-select>
      </mat-form-field>
</section>
