<ng-container *ngIf="data.assignment as assignment">
  <div class="modal-details-window">
    <h3 mat-dialog-title>
      {{ assignment.project?.name?.replace(" ", "_") }}-{{ assignment.number }}
    </h3>
    <mat-dialog-content>
      <div class="modal-content-wrapper">
        <section>
          <p class="name">{{ assignment.name | titlecase }}</p>
          <div>Description:</div>
          <div class="description">{{ assignment.description }}</div>
        </section>
        <section>
          <div class="side-section">side</div>
        </section>
      </div>

      <hr />
      <div class="actions-container">
        <button
          mat-flat-button
          color="accent"
          (click)="goToEdit(assignment.id)"
        >
          Edit
        </button>
        <button mat-flat-button color="warn" (click)="dialogRef.close()">
          Close
        </button>
      </div>
    </mat-dialog-content>
  </div>
</ng-container>
