.modal-details-window {
  animation: custom-dialog-enter 1s ease;
  width: auto;
  min-width: 400px;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 20px;


  .actions-container {
    display: flex;
    gap: 10px;
  }

  .name {
    font-weight: 600;
    font-size: 20px;
  }

  [mat-dialog-title] {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .modal-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .actions-container {
    display: flex;
    justify-content: end;
    align-items: center;
  }


}