<div class="container">
  <h3 class="title">Авторизація</h3>

  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input #myInput matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Пароль</mat-label>
      <textarea matInput formControlName="password"></textarea>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Увійти</button>
  </form>
</div>
