.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .input-container {
    margin-bottom: 20px;
    form {
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
    }
  }
  .mat-mdc-form-field {
    margin-bottom: -1.25em;
  }
  .list-container {
    min-width: 50%;
  }

  .item {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex-direction: row;
    .name {
      max-width: 165px;
      text-overflow: ellipsis;
    }
    .actions button {
      margin-left: 10px;
    }
    .mat-mdc-form-field {
      margin-bottom: -1.25em;
    }
  }
}
