<ng-container *ngIf="data as assignment">
  <app-modal-window [title]="title">
    <div class="modal-content-wrapper">
      <div class="sections-wrapper">
        <section class="section-main">
          <p class="name">{{ assignment.name | titlecase }}</p>
          <div class="description-label">Опис:</div>
          <div class="description">{{ assignment.description }}</div>
        </section>
        <section>
          <div class="section-sub">
            <mat-form-field class="selector">
              <mat-select
                [value]="assignment.status"
                (valueChange)="onStatusChange($event)"
              >
                <mat-option [value]="0">{{ status[0] }}</mat-option>
                <mat-option [value]="1">{{ status[1] }}</mat-option>
                <mat-option [value]="2">{{ status[2] }}</mat-option>
              </mat-select>
            </mat-form-field>
            <p class="block-assignee">
              <span>Виконавець:</span> {{ assignment.assignee?.firstName }}
              {{ assignment.assignee?.secondName }}
            </p>
            <p class="block-priority">
              <span>Пріоритет:</span> {{ priority[assignment.priority] }}
              <mat-icon
                aria-hidden="false"
                [fontIcon]="
                  utilsService.getPriorityIconName(assignment.priority)
                "
              ></mat-icon>
            </p>
          </div>
        </section>
      </div>
      <hr />
      <div class="actions-container">
        <button
          mat-flat-button
          color="accent"
          (click)="goToEdit(assignment._id)"
        >
          Редагувати
        </button>
        <button mat-flat-button color="warn" (click)="dialogRef.close()">
          Закрити
        </button>
      </div>
    </div>
  </app-modal-window>

  <!-- <div class="modal-details-window">
    <h3 mat-dialog-title></h3>
    <mat-dialog-content>

    </mat-dialog-content>
  </div> -->
</ng-container>
