.modal-content-wrapper {
  .sections-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    position: relative;
  }

  p {
    line-height: 20px;
  }

  .description {
    word-wrap: break-word;
    &-label {
      margin-bottom: 10px;
    }
  }

  .name {
    font-weight: 600;
    font-size: 20px;
  }

  .section {
    &-main {
      width: 70%;
    }
    &-sub {
      span {
        margin-right: 4px;
      }
    }
  }

  .block {
    &-priority {
      display: flex;
      align-items: center;

      mat-icon {
        margin-left: 3px;
      }
    }
  }
}
