<div class="container">
  <app-go-back-link></app-go-back-link>
  <h3 class="title">{{ isEdit ? "Редагувати" : "Створити" }}</h3>

  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Назва</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Опис</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Статус</mat-label>
      <mat-select formControlName="status">
        <mat-option [value]="0">{{ status[0] }}</mat-option>
        <mat-option [value]="1">{{ status[1] }}</mat-option>
        <mat-option [value]="2">{{ status[2] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пріоритет</mat-label>
      <mat-select formControlName="priority">
        <mat-option [value]="0">{{ priority[0] }}</mat-option>
        <mat-option [value]="1">{{ priority[1] }}</mat-option>
        <mat-option [value]="2">{{ priority[2] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Термін</mat-label>
      <input formControlName="deadline" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Виконавець</mat-label>
      <mat-select formControlName="assignee">
        <mat-option *ngFor="let member of members()" [value]="member._id"
          >{{ member.firstName }} {{ member.secondName }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Проєкт</mat-label>
      <mat-select formControlName="project">
        <mat-option *ngFor="let project of projects()" [value]="project._id">{{
          project.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">
      {{ this.isEdit ? "Редагувати" : "Створити" }}
    </button>
  </form>
</div>
